{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4 text-right">
            <main>
            {% set plugin_url = '/' + site.baseurl + '/plugins/' %}
            {% for item in this.content|filtercontent(plugin_url) %}
                <a href="{{item.url}}">{{item.title}}</a><br/>
            {% endfor %}
            </main>
        </div>
        <div class="col-md-8">
            <main>
            {% for item in this.content|filtercontent(plugin_url) %}
                {{item.description}}<br/>
            {% endfor %}
            </main>
        </div>
    </div>
</div>

{% endblock %}
